        {% extends "layout.html.twig" %}

        {% block content %}
        <div id="home-block" class="jumbotron">
        <div class="container">
        <h1><strong>Lomba</strong>RDV</h1>
        <p>prenez RDV où que vous soyez avec un médecin au CS Lombale</p>
          </div>
        </div>

        <section id="about" class="container">
        <h1 class="center">Simple, gratuit et sécurisé</h1>
        <p>gagnez 30% de temps de secrétariat</p>
        <div class="row">
        <div class="col-md-3 col-xs-6">
           <div class="icon"><span class="fa fa-3x fa-user-md"></span></div>
           <div class="text">
              <h3>Trouvez un medecin</h3>
              <small>Lorem ipsum</small>
           </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="icon"><span class="fa fa-3x fa-calendar"></span></div>
          <div class="text">
             <h3>Prenez rendez-vous</h3>
             <small>Lorem ipsum</small>
        </div>
        </div>
        <div class="clearfix visible-xs mb-20"></div>
        <div class="col-md-3 col-xs-6">
          <div class="icon"><span class="fa fa-3x fa-medkit"></span></div>
          <div class="text">
             <h3>Voir le medecin</h3>
             <small>Lorem ipsum</small>
        </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="icon"><span class="fa fa-3x fa-lock"></span></div>
          <div class="text">
             <h3>Votre securite</h3>
             <small>Lorem ipsum</small>
        </div>
        </section>
        <div class="center container">
        <a href=""><button id="call-to-action-find-dr" class="call-to-action btn btn-primary">Trouvez un medecin</button></a>
        </div>
        {% endblock %}
