        {% extends "layout.html.twig" %}

        {% block content %}
        <div id="home-block" class="jumbotron">
        <div class="container">
        <h1><strong>Lomba</strong>RDV</h1>
        <h3>prenez RDV où que vous soyez avec un médecin au CS Lombale</h3>
          </div>
        </div>

      <div class="container">
        <section class="row page-title">
          <h1>Simple, gratuit et sécurisé</h1>
          <h3>gagnez 30% de temps de secrétariat</h3>
        </section>

        <section class="row page-content">
        <div class="col-md-3 col-xs-6">
           <div class="icon"><span class="fa fa-3x fa-user-md"></span></div>
           <div class="text">
              <h3>Trouvez un medecin</h3>
              <small>Lorem ipsum</small>
           </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="icon"><span class="fa fa-3x fa-calendar"></span></div>
          <div class="text">
             <h3>Prenez rendez-vous</h3>
             <small>Lorem ipsum</small>
        </div>
        </div>
        <div class="clearfix visible-xs mb-20"></div>
        <div class="col-md-3 col-xs-6">
          <div class="icon"><span class="fa fa-3x fa-medkit"></span></div>
          <div class="text">
             <h3>Voir le medecin</h3>
             <small>Lorem ipsum</small>
        </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="icon"><span class="fa fa-3x fa-lock"></span></div>
          <div class="text">
             <h3>Votre securite</h3>
             <small>Lorem ipsum</small>
        </div>
        </section>

        <div id="call-to-action-find-dr" class="call-to-action col-md-offset-5 col-md-2">
           <a href="/doctors">Trouvez un médecin</a>
        </div>
        </div>
        {% endblock %}
