        {% extends "layout.html.twig" %}

        {% block content %}
        <div id="home-block" class="">
        <div class="carousel slide carousel-fade" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        </div>

        <div class="title text-center col-md-12">
          <h1><strong>Pr Arthur Cimwanga Badibanga</strong></h1>
          <h3>Docteur es Langues et literature anglaise en RD Congo</h3>

          <p>
             <a class="btn btn-primary" type="button" href="#year-teaching">En savoir plus</a>
          </p>
        </div>
      <div class=" main-content">
      <div class="container">

        <section class="row page-content" id="year-teaching">
        <div class="col-md-3 col-xs-6">
           <div class="icon"><span class="fa fa-3x fa-user-md"></span></div>
           <div class="text">
              <h3>Plus de .... ans dans l'enseignement supérieur et universitaire</h3>
              <small>parcourez la base de données de nos médecins et trouvez-en
              un qui soit disponible</small>
           </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="icon"><span class="fa fa-3x fa-calendar"></span></div>
          <div class="text">
             <h3>Les cours</h3>
             <small>Plusieurs universités et/ou institut supérieurs me
             contacte pour mes différents cours</small>
        </div>
        </div>

        </section>


           <a class="btn btn-warning" href="/contact">Contactez-moi</a>
        </div>
      </div>
        {% endblock %}
