        {% extends "layout.html.twig" %}

        {% block content %}
        <div id="home-block">
        <div class="carousel slide carousel-fade" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        </div>

        <div class="title text-center col-md-12">
          <h1><strong>Pr Arthur Cimwanga Badibanga</strong></h1>
          <h3>Docteur es Langues et literature anglaise en RD Congo</h3>

          <p>
             <a class="btn btn-primary" type="button" href="#year-teaching">En savoir plus</a>
          </p>
        </div>
      <div class=" main-content">
      <div class="container">

        <section class="row page-content" id="year-teaching">
        <div class="col-md-12">
           <div class="icon"><span class="fa fa-3x fa-user-md"></span><br>
            <h2>Plus de .... ans dans l'enseignement supérieur et universitaire</h2>
           </div>
           <div class="text">
            <p>Je suis dans l'enseignement supérieur et universitaire en Rep. dem.
            du Congo.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
           </div>
           <!--CALL TO ACTION -->
           <div class="col-md-6">
            <a href="/teach" class="btn btn-primary">Parcourrez mes cours</a>
           </dvi>
           <div class="col-md-6">
            <a href="/bio" class="btn btn-info">A propos de moi</a>
           </dvi>
        </div>
        </section>

       <!-- MES OUVRAGES
            Link to the bookshop
       -->
       <section class="row" id="home-books">
        <header class="col-md-12 text-center">
           <div class="icon section-title"><span class="fa fa-3x fa-user-md"></span><br>
           <h2>Mes ouvrages</h2>
           </div>
           <p class="sub_title">
            Je suis dans l'enseignement supérieur et universitaire en Rep. dem.
            du Congo.
           </p>
        </header>

        <!--Two books published -->
        <div class="list-books">
         <div class="col-xs-12 col-md-6" id="book1">
          <a href=""><img src="{{ asset('/img/1.jpg') }}" alt="Mbororo"></a>
          <p class="text-center"><a href="" class="btn btn-info">Acheter</a></p>
         </div>
         <div class="col-xs-12 col-md-6" id="book2">
          <a href=""><img src="{{ asset('/img/5.jpg') }}" alt="Mbororo"></a>
          <p class="text-center"><a href="" class="btn btn-info">Acheter</a></p>
         </div>
        </div>

        </section>

        <section class="row text-center" id="home-contact">
           <a class="btn btn-warning" href="/contact">Contactez-moi</a>
        </section>
        </div>
      </div>
        {% endblock %}
