        {% extends "layout.html.twig" %}

        {% block content %}
        <div class="container">

        <section id="search-domain" class="col-md-12 section-important">
        <header class="text-center">
          <p class="heading-icon">
           <span class="fa fa-3x fa-user-md"></span>
          </p>
           <h2 class="heading-title">Domaines de recherche</h2>

           <p class="sub-title">
            Ce sur quoi mes travaux portent
           </p>
        </header>
        <div class="content col-md-offset-1 col-md-10">
        <ul>
         <li>Sociolinguistique</li>
         <li>Lexicologie</li>
         <li>Syntaxe</li>
         <li>Stylistique anglaise</li>
         <li>Linguistique appliquée à l’enseignement de l’anglais</li>
        </ul>

        </div>
        </section>

        <section id="books" class="col-md-12 section-important">
         <header class="text-center">
           <p class="heading-icon">
            <span class="fa fa-3x fa-user-md"></span>
           </p>
            <h2 class="heading-title">Mes ouvrages</h2>

            <p class="sub-title">
             Je suis dans l'enseignement supérieur et universitaire en Rep. dem.
             du Congo.
            </p>
         </header>

         <!--Two books published -->
         <div class="list-books">
          <div class="col-xs-12 col-md-6 book-item" id="book1">
           <a href=""><img src="{{ asset('/img/1.jpg') }}" alt="Mbororo"></a>
           <p class="text-center"><a href="" class="btn btn-info">Acheter</a></p>
          </div>
          <div class="col-xs-12 col-md-6 book-item" id="book2">
           <a href=""><img src="{{ asset('/img/5.jpg') }}" alt="Mbororo"></a>
           <p class="text-center"><a href="" class="btn btn-info">Acheter</a></p>
          </div>
         </div>

         </section>

         <section id="scientific" class="col-md-12 section-important">
         <header class="text-center">
           <p class="heading-icon">
            <span class="fa fa-user-md"></span>
           </p>
            <h2 class="heading-title">Articles scientifiques</h2>

            <p class="sub-title">
             Je suis auteur de plusieurs publications scientifiques
            </p>
         </header>

         <div class="content col-md-offset-1 col-md-10">
         <ul>
          <li>lorem ipsum</li>
          <li>lorem ipsum</li>
          <li>lorem ipsum</li>
          <li>lorem ipsum</li>
         </ul>
         <p class="text-center"><a href="#">Voir tous les articles</a></p>
         </div>
         </section>

         <section id="thesis" class="col-md-12 section-important">
         <header class="text-center">
           <p class="heading-icon">
            <span class="fa fa-user-md"></span>
           </p>
            <h2 class="heading-title">Memoires</h2>

            <p class="sub-title">
             Ci-dessous la liste des memoires que j'ai diriges
            </p>
         </header>

         <div class="content col-md-offset-1 col-md-10">
         <ul>
          <li>lorem ipsum</li>
          <li>lorem ipsum</li>
          <li>lorem ipsum</li>
          <li>lorem ipsum</li>
         </ul>

         </div>
         </section>
        </div>
        {% endblock %}
