        {% extends "layout.html.twig" %}

        {% block content %}
        <div class="container">

        <section id="search-domain" class="col-md-12 section-important">
        <header class="text-center">
          <p class="heading-icon">
           <span class="fa fa-3x fa-user-md"></span>
          </p>
           <h2 class="heading-title">Domaines de recherche</h2>

           <p class="sub-title">
            Ce sur quoi mes travaux portent
           </p>
        </header>
        <div class="content col-md-offset-1 col-md-10">
        <ul>
         <li>Sociolinguistique</li>
         <li>Lexicologie</li>
         <li>Syntaxe</li>
         <li>Stylistique anglaise</li>
         <li>Linguistique appliquée à l’enseignement de l’anglais</li>
        </ul>

        </div>
        </section>

        <section id="books" class="col-md-12 section-important">
         <header class="text-center">
           <p class="heading-icon">
            <span class="fa fa-3x fa-user-md"></span>
           </p>
            <h2 class="heading-title">Mes ouvrages</h2>

            <p class="sub-title">
             Je suis dans l'enseignement supérieur et universitaire en Rep. dem.
             du Congo.
            </p>
         </header>

         <!--Two books published -->
         <div class="list-books">
          <div class="col-xs-12 col-md-6 book-item" id="book1">
           <a href=""><img src="{{ asset('/img/cover-book1.png') }}" alt="Mbororo"></a>
           <p class="text-center"><a href="" class="btn btn-info">Acheter</a></p>
          </div>
          <div class="col-xs-12 col-md-6 book-item" id="book2">
           <a href=""><img src="{{ asset('/img/cover-book1.png') }}" alt="Mbororo"></a>
           <p class="text-center"><a href="" class="btn btn-info">Acheter</a></p>
          </div>
         </div>

         </section>

         <section id="scientific" class="col-md-12 section-important">
         <header class="text-center">
           <p class="heading-icon">
            <span class="fa fa-user-md"></span>
           </p>
            <h2 class="heading-title">Articles scientifiques</h2>

            <p class="sub-title">
             Je suis auteur de plusieurs publications scientifiques
            </p>
         </header>

         <div class="content col-md-offset-1 col-md-10">
         <ul>
          <li><span class="paper-title">The Blended learning, a need for
           modern teaching method in DRC</span>(Annales de la FLSH, 2016)</li>
          <li><span class="paper-title">Onomastic study of Nande proper names</span>
          </li>
          <li>Universals, a sociolinguistic analysis of Luba noun classes</li>
          <li>A linguistic study of Okigbo’s poetry , the case of the Path of Thunder</li>
          <li><span class="paper-title">Bees language, a semiotic analysis of insect language</span></li>
          <li><span class="paper-title">Morphophonological study of Yaokandja Lokele variant</span></li>
         </ul>
         <p class="text-center"><a href="#">Voir tous les articles</a></p>
         </div>
         </section>

         <section id="thesis" class="col-md-12 section-important">
         <header class="text-center">
           <p class="heading-icon">
            <span class="fa fa-user-md"></span>
           </p>
            <h2 class="heading-title">Memoires</h2>

            <p class="sub-title">
             Ci-dessous la liste des memoires que j'ai dirigés
            </p>
         </header>

         <div class="content col-md-offset-1 col-md-10">
         <ul class="nav nav-tabs">
          <li class="active"><a href="#phd-student" data-toggle="tab">
           Etudiants Ph. D</a>
          </li>
          <li><a href="#ms-student" data-toggle="tab">
           Etudiants DES</a>
          </li>
          <li><a href="#ba-student" data-toggle="tab">
           Etudiants Licence</a>
          </li>
         </ul>

         <div class="tab-content">
          <div class="tab-pane fade active in" id="phd-student">
           <ul>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
           </ul>
          </div>
          <div class="tab-pane fade" id="ms-student">
           <ul>
            <li>Genre et Pratique du Sport dans la ville de Kisangani.
            De 2010 à 2015, by Marry YANGALA ANGALENIKI, 2015</li>
            <li>Lorem</li>
            <li>Lorem</li>
           </ul>
          </div>
          <div class="tab-pane fade" id="ba-student">
           <ul>
            <li>Pluralisation in Bodo and English nouns, a contrastive Analysis
            by Austin Paulin ANZADOKA MAWES</li>
            <li>COOPERATIVE AND COLLABORATIVE LEARNING APPROACH IN TEACHING
            WH-QUESTIONS IN 5th AND 6th FORMS, by Aurelie Drale, year</li>
            <li>The linguistic imperialism and primacy of English upon local and
            national  Congolese languages,a Sociolinguistic Approach,
            by Ugencan Ulyera J.Paul, year</li>
            <li>Lorem</li>
            <li>Lorem</li>
           </ul>
          </div>
         </div>

         </div>
         </section>
        </div>
        {% endblock %}
