{% extends "layout.html.twig" %}

{% block content %}
<div class="container">

<section id="university-in" class="col-md-12 section-important">
<header class="text-center">
  <p class="heading-icon">
   <span class="fa fa-3x fa-user-md"></span>
  </p>
   <h2 class="heading-title">Postes universitaires</h2>

   <p class="sub-title">
    Lorem
   </p>
</header>
<div class="content col-md-offset-1 col-md-10">
<div class="service">
<p class="poste">Vice-Doyen charge de la recherche, fac. des lettres, Unikis</p>
<p class="poste-description">Depuis 201x je suis en cha blalbla</p>
</div>
<div class="service">
<p class="poste">Vice-Doyen charge de la recherche, fac. des lettres, Unikis</p>
<p class="poste-description">Depuis 201x je suis en cha blalbla</p>
</div>

</div>
</section>

 <section id="university-out" class="col-md-12 section-important">
 <header class="text-center">
   <p class="heading-icon">
    <span class="fa fa-user-md"></span>
   </p>
    <h2 class="heading-title">Postes extra-universitaire</h2>

    <p class="sub-title">
     Lorem
    </p>
 </header>

 <div class="content col-md-offset-1 col-md-10">
 <div class="service">
 <p class="poste">Vice-Doyen charge de la recherche, fac. des lettres, Unikis</p>
 <p class="poste-description">Depuis 201x je suis en cha blalbla</p>
 </div>
 <div class="service">
 <p class="poste">Vice-Doyen charge de la recherche, fac. des lettres, Unikis</p>
 <p class="poste-description">Depuis 201x je suis en cha blalbla</p>
 </div>

 </div>
 </section>
</div>
{% endblock %}
