{% extends "layout.html.twig" %}

{% block content %}
 <div class="container">
 <section id="course-now" class="col-md-12 section-important">
 <header class="text-center">
   <p class="heading-icon">
    <span class="fa fa-user-md"></span>
   </p>
    <h2 class="heading-title">Cours actuels</h2>

    <p class="sub-title">
     Ci-dessous les cours que j'enseigne actuellement
    </p>
 </header>

 <div class="content col-md-offset-1 col-md-10">
 <ul>
  <li>Lorem
  </li>
  <li>Lorem</li>
  <li>Lorem</li>
  <li>Lorem
  </li>
 </ul>

 </div>
 </section>

 <!--OLD COURSES -->
 <section id="course-old" class="col-md-12 section-important">
 <header class="text-center">
   <p class="heading-icon">
    <span class="fa fa-user-md"></span>
   </p>
    <h2 class="heading-title">Anciens cours</h2>

    <p class="sub-title">
     Ici sont les cours que j'ai du anime par le passe
    </p>
 </header>

 <div class="content col-md-offset-1 col-md-10">
 <ul>
 <li>Lorem
 </li>
 <li>Lorem</li>
 <li>Lorem</li>
 <li>Lorem
 </li>
 </ul>

 </div>
 </section>

 <section class="text-center section-important col-md-12" id="contact-call-action">
 <p class="call-action-text">Avez-vous besoin de moi dans votre universite?</p>
    <a class="btn btn-warning call-action-btn col-md-offset-5 col-md-2 col-xs-12" href="/contact">Contactez-moi</a>
 </section>

 </div>
{% endblock %}
